<%= render  'shared/card' do %>
<div id="program_processes" data-ids-array="<%= @processes_academic_programs.select(:id).to_json %>" data-all-media="<%= @processes_academic_programs.to_json(include: :media) %>">
  <div class="flex flex-row-reverse px-4">
  </div>
<%= link_to(faculty_academic_programs_path(faculty_id: @faculty.id), class: 'btn btn-secondary no-underline rounded-full:!important') do %>
                <%= icon('fas', 'arrow-left', 'Volver') %>
             <% end %>
  <div class="my-8 flex px-4">
    <div class="w-1/2">
      <h4 class="font-semibold text-g-d4 text-lg">
         <%= "#{@academic_program.name}" %>
        <br><span class="font-medium text-sm text-g-d2"> Codigo: <%= @academic_program.code %></span>
        <br><span class="font-medium text-sm text-g-d2"> Director: <%= @academic_program.users.any? ? "#{@academic_program.users.first.first_name}" "#{@academic_program.users.first.last_name}" : "-" %>
      </h4>
    </div>
  </div>


  <div class="px-0 md:px-4 overflow-auto">
    <!-- table heading -->
    <table class="table table-responsive">
      <thead>
        <tr>
          <th scope="col" width="20%"></th>
          <th scope="col" width="20%">Nombre</th>
          <th scope="col" width="30%">Estado</th>
          <th scope="col" width="30%">Ultimo tramite</th>
        </tr>
      </thead>
      <tbody class="">
        <% @processes_academic_programs.each do |pap| %>
        <tr>
          <td>
            <div class="py-2 hidden md:table-cell">
              <%= link_to(faculty_academic_program_process_academic_program_procedures_path(faculty_id: @faculty.id, academic_program_id: pap.academic_program.id, process_academic_program_id: pap.id), class: 'btn btn-secondary no-underline rounded-full:!important', id: "procedure_button") do %>
                <%= icon('fas', 'file-archive', "Tramites") %>
              <% end %>
            </div>
          </td>
          <td><%= pap.academic_process.name %></td>
          <td><span class="flex <%= process_state(pap.expiration_date)[1] %> justify-center text-sm px-2 py-1 mr-3"><%= process_state(pap.expiration_date)[0] %></td>
          <td><%= pap.procedures.any? ? "#{pap.procedures.last.procedure_date}" : "-" %> </td>
       <% end %>
      </tbody>
    </table>
  </div>


    <%== render 'pagy/nav', pagy: @pagy %>
  </div>
<% end %>
