<%= render  'shared/card' do %>
  <div class="flex flex-row-reverse px-4">
    <div class="w-2/3 text-right">
    <%= link_to('Crear un programa academico', new_faculty_academic_program_path(faculty_id: @faculty.id), class: "btn btn-primary") %>
    </div>
  </div>

  <div class="my-8 flex px-4">
    <div class="w-1/2">
      <h4 class="font-semibold text-g-d4 text-lg">
        Programas academicos de la facultad <%= "#{@faculty.name}" %>
        <br><span class="font-medium text-sm text-g-d2">Listado de programas</span>
      </h4>
    </div>
    <div class="w-1/2 text-right">
      <form class="w-full max-w-sm justify-end">
        <div class="flex items-center py-2 justify-end">
          <%= form_with url: faculty_academic_programs_path(@faculty), method: :get, class: "w-full max-w-sm" do |f|%>
          <div class="flex items-center border-b border-b-2 border-g-l3 w-2/3">
            <%= f.text_field :query, class: 'w-full flex rounded-t h-8 focus:outline-none', value: params[:query], placeholder: "Nombre, Codigo...." %>
            <%= button_tag(type: "submit", class: "btn-flat") do %>
              <i class="fas fa-search"></i>
            <% end %>
            <% if params[:query] && params[:query] != "" %>
              <%= link_to faculty_academic_programs_path(@faculty), method: :get, class: "btn-flat" do %>
                <i class="fas fa-eraser"></i>
              <% end %>
            <% end %>
          <% end %>
          </div>
        </div>
      </form>
    </div>
  </div>

<% @companies.each_with_index do |company, index| %>
  <div class="row justify-center">
     <collapse-vue i="collpase_<%= index %>">
      <template v-slot:title-left>
        <%= icon('fas','building', class: 'fa-md mr-4') %>
        <span><%= company.company_name %></span>
      </template>
      <template v-slot:title-right>
        <a @click="modalId('modal_<%= index %>')">
          <%= icon('fas','edit', class: 'btn-flat fa-md', "v-ripple" => "'rgba(0, 0, 0, 0.20)'" )%>
        </a>
      </template>
      <template v-slot:content>






        
          HERE IS WHERE THE MAGIC HAPPENS







      </template>
     </collapse-vue>
     <%= form_with scope: :company, url: company_path(company.id), method: 'put', class: ""  do |f2| %>
        <modal-vue i="modal_<%= index %>" style_modal="width: 45%;">          
          <template v-slot:title>
            <%= "Editar empresa #{company.company_name}" %>
          </template>
          <template v-slot:content>          
            <div class="flex flex-wrap mx-auto" style="width: 86.666%;">
              <div  class="w-full mb-6 focus_form">
                <%= f2.label "Nombre de la empresa", class: 'label_input' %>
                <%= f2.text_field :company_name, value: company.company_name, class: 'field_input rounded-t' %>
              </div>
              <div  class="w-full mb-2 focus_form">
                <%= f2.label :NIT, class: 'label_input' %>
                <%= f2.number_field :company_id, value: company.company_id, class: 'field_input rounded-t'%>
              </div>
            </div>
          </template>
          <template v-slot:footer>
            <div class="flex justify-start w-1/2">
              <%= link_to company_path(company.id), method: 'delete', data: {confirm: 'Esto elimnara el registro, ¿esta seguro?'}, class: "btn btn-red-light mx-1"  do %>
                <%= icon('fas', 'trash') %>
              <% end %>
            </div>
            <div class="flex justify-end w-1/2">
              <button type="button" name="button" class="btn btn-red-light mx-1" @click="modalId('modal_<%= index %>')">Cancelar</button>
            <%= f2.submit "Registrar", class: "btn btn-primary"%>
            </div>
          </template>
        </modal-vue> 
      <% end %>     
    </div>
    <% end %>
    <%== render 'pagy/nav', pagy: @pagy %>
<% end %>
