<%= render  'shared/card' do %>
<% if current_user.admin?  %>
  <div class="flex flex-row-reverse px-4">
    <div class="w-2/3 text-right">
    <%= link_to('Crear una facultad', new_faculty_path, class: "btn btn-primary") %>
    </div>
  </div>
<% end %>
  <div class="my-8 flex px-4">
    <div class="w-1/2">
      <h4 class="font-semibold text-g-d4 text-lg">
        Facultades
        <br><span class="font-medium text-sm text-g-d2">Listado de facultades</span>
      </h4>
    </div>
    <div class="w-1/2 text-right">
      <form class="w-full max-w-sm justify-end">
        <div class="flex items-center py-2 justify-end">
          <%= form_with url: faculties_path, method: :get, class: "w-full max-w-sm" do |f|%>
          <div class="flex items-center border-b border-b-2 border-g-l3 w-2/3">
            <%= f.text_field :query, class: 'w-full flex rounded-t h-8 focus:outline-none', value: params[:query], placeholder: "Nombre, Codigo...." %>
            <%= button_tag(type: "submit", class: "btn-flat") do %>
              <i class="fas fa-search"></i>
            <% end %>
            <% if params[:query] && params[:query] != "" %>
              <%= link_to faculties_path, method: :get, class: "btn-flat" do %>
                <i class="fas fa-eraser"></i>
              <% end %>
            <% end %>
          <% end %>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="px-0 md:px-4 overflow-auto">
    <!-- table heading -->
    <table class="table table-responsive">
      <thead>
        <tr>
          <th scope="col" class="w-1/3 lg:w-1/4"></th>
          <th scope="col" width="30%">Nombre</th>
          <th scope="col" class="hidden md:table-cell" width="30%">Codigo</th>
        </tr>
      </thead>
      <tbody class="">
        <% @faculties.each do |faculty| %>
        <tr>
          <td>
            <div class="py-2">
            <% if current_user.admin?  %>
              <%= link_to(edit_faculty_path(faculty.id), class: 'btn btn-secondary no-underline rounded-full:!important', id: "edit_faculty") do %>
                <%= icon('fas', 'pencil-alt') %>
              <% end %>
            <% end %>
              <%= link_to(faculty_academic_departments_path(faculty.id), class: 'btn btn-secondary no-underline rounded-full:!important', id: "academic_department_button") do %>
                <%= icon('fas', 'building') %>
              <% end %>
              <%= link_to(faculty_academic_programs_path(faculty.id), class: 'btn btn-secondary no-underline rounded-full:!important',id: "academic_program_button") do %>
                <%= icon('fas', 'book') %>
              <% end %>
            </div>
          </td>
          <td><%= faculty.name %></td>
          <td class="hidden md:table-cell"><%= faculty.code %></td>
        </tr>
       <% end %>
      </tbody>
    </table>
  </div>
  <%== render 'pagy/nav', pagy: @pagy %>
<% end %>
