<%= render  'shared/card' do %>
  <div class="flex flex-row-reverse px-4">
    <div class="w-2/3 text-right">
    <%= link_to('Crear un proceso', new_academic_process_path, class: "btn btn-primary") %>
    </div>
  </div>

  <div class="my-8 flex px-4">
    <div class="w-1/2">
      <h4 class="font-semibold text-g-d4 text-lg">
        Procesos
        <br><span class="font-medium text-sm text-g-d2">Listado de procesos</span>
      </h4>
    </div>
    <div class="w-1/2 text-right">
      <form class="w-full max-w-sm justify-end">
        <div class="flex items-center py-2 justify-end">
          <%= form_with url: academic_processes_path, method: :get, class: "w-full max-w-sm" do |f|%>
          <div class="flex items-center border-b border-b-2 border-g-l3 w-2/3">
            <%= f.text_field :query, class: 'w-full flex rounded-t h-8 focus:outline-none', value: params[:query], placeholder: "Nombre, Codigo...." %>
            <%= button_tag(type: "submit", class: "btn-flat") do %>
              <i class="fas fa-search"></i>
            <% end %>
            <% if params[:query] && params[:query] != "" %>
              <%= link_to academic_processes_path, method: :get, class: "btn-flat" do %>
                <i class="fas fa-eraser"></i>
              <% end %>
            <% end %>
          <% end %>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="px-0 md:px-4 overflow-auto">
    <!-- table heading -->
    <table class="table table-responsive">
      <thead>
        <tr>
          <th scope="col" width="5%"></th>
          <th scope="col" width="5%"></th>
          <th scope="col" width="30%">Nombre</th>
          <th scope="col" width="25%">Vigencia SACES</th>
          <th scope="col" width="25%">Vigencia consejo academico</th>
        </tr>
      </thead>
      <tbody class="">
        <% @academic_processes.each do |process| %>
        <tr>
          <td>
            <div class="py-2 hidden md:table-cell">
              <%= link_to(edit_academic_process_path(process.id), class: 'btn btn-secondary no-underline rounded-full:!important', id: "edit_academic_process") do %>
                <%= icon('fas', 'pencil-alt') %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="py-2 hidden md:table-cell">
              <%= link_to(academic_process_documents_path(process.id), class: 'btn btn-secondary no-underline rounded-full:!important') do %>
                <%= icon('fas', 'file-word') %>
              <% end %>
            </div>
          </td>
          <td><%= process.name %></td>
          <td><%= "#{process.year_saces } Año/s " if process.year_saces > 0 %>   <%= " #{process.month_saces} Mes/es" if process.month_saces > 0 %>   <%= " #{process.day_saces} Dia/s" if process.day_saces > 0 %></td>
          <td><%= "#{process.year_academic_council} Año/s " if process.year_academic_council > 0 %>   <%= " #{process.month_academic_council} Mes/es " if process.month_academic_council > 0 %>   <%= " #{process.day_academic_council} Dia/s " if process.day_academic_council > 0 %> </td></td>
        </tr>
       <% end %>
      </tbody>
    </table>
  </div>
  <%== render 'pagy/nav', pagy: @pagy %>
<% end %>
