<div class="w-full md:w-1/4 pr-0 md:pr-2">
  <div id="side-menu" class="list-group">
   <!-- Option -->
 <% if policy(User).index? %>
  <%= link_to(admin_users_path, class: "no-underline") do %>
    <div class="list-group-item rounded-t <%= is_users_path %> ">
      <div class="flex">
        <div class="w-1/4 text-center">
          <%= icon('fas','user', class: 'fa-lg') %>
        </div>
        <div class="text-left w-3/4">
          <span>Usuarios</span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<!-- Option -->
  <%= link_to(admin_doctors_path, class: "no-underline") do %>
    <div class="list-group-item <%= is_doctors_path %>">
      <div class="flex">
        <div class="w-1/4 text-center">
          <%= icon('fas','user-md', class: 'fa-lg') %>
        </div>
        <div class="text-left w-3/4">
          <span>Médicos</span>
        </div>
      </div>
    </div>
  <% end %>
    <!-- Option -->
  <%= link_to(procedure_types_path, class: "no-underline") do %>
    <div class="list-group-item <%= is_procedure_type_path %>">
      <div class="flex">
        <div class="w-1/4 text-center">
          <%= icon('fas','file-medical-alt', class: 'fa-lg') %>
        </div>
        <div class="text-left w-3/4">
          <span>Tipos de estudio</span>
        </div>
      </div>
    </div>
  <% end %>
  <!-- Option -->
  <%= link_to(companies_path, class: "no-underline") do %>
    <div class="list-group-item <%= is_companies_path %>">
      <div class="flex">
        <div class="w-1/4 text-center">
          <%= icon('fas','building', class: 'fa-lg') %>
        </div>
        <div class="text-left w-3/4">
          <span>Empresas</span>
        </div>
      </div>
    </div>
  <% end %>
  <!-- Option -->
  <div class="list-group-item">
    <div class="flex">
      <div class="w-1/4 text-center">
        <%= icon('fas','user-tie', class: 'fa-lg') %>
      </div>
      <div class="text-left w-3/4">
        <span>Funcionarios</span>
      </div>
    </div>
  </div>

  <!-- Option -->
  <%= link_to(admin_patients_path, class: "no-underline") do %>
  <div class="list-group-item <%= is_patients_path %>">
    <div class="flex">
      <div class="w-1/4 text-center">
        <%= icon('fas','users', class: 'fa-lg') %>
      </div>
      <div class="text-left w-3/4">
        <span>Pacientes</span>
      </div>
    </div>
  </div>
  <% end %>

  <!-- Option -->
  <%= link_to(pages_appointment_path, class: "no-underline") do %>
  <div class="list-group-item <%= is_appointment_path %>">
    <div class="flex">
      <div class="w-1/4 text-center">
        <%= icon('fas','calendar', class: 'fa-lg') %>
      </div>
      <div class="text-left w-3/4">
        <span>Agenda</span>
      </div>
    </div>
  </div>
  <% end %>

</div>

</div>
