<div id="side-menu" class="list-group">
  <%= link_to(pages_home_path, class: "no-underline") do %>
    <!-- Option -->
    <div class="list-group-item active">
      <div class="flex">
        <div class="w-1/4 text-center">
          <%= icon('fas','user-md', class: 'fa-lg') %>
        </div>
        <div class="text-left w-3/4">
          <span>Médicos</span>
        </div>
      </div>
    </div>
  <% end %>
  <!-- Option -->
  <div class="list-group-item">
    <div class="flex">
      <div class="w-1/4 text-center">
        <%= icon('fas','user-tie', class: 'fa-lg') %>
      </div>
      <div class="text-left w-3/4">
        <span>Secretarias</span>
      </div>
    </div>
  </div>

  <!-- Option -->
  <div class="list-group-item">
    <div class="flex">
      <div class="w-1/4 text-center">
        <%= icon('fas','users', class: 'fa-lg') %>
      </div>
      <div class="text-left w-3/4">
        <span>Pacientes</span>
      </div>
    </div>
  </div>

  <!-- Option -->
  <div class="list-group-item">
    <div class="flex">
      <div class="w-1/4 text-center">
        <%= icon('fas','clipboard', class: 'fa-lg') %>
      </div>
      <div class="text-left w-3/4">
        <span>Tipos de estudio</span>
      </div>
    </div>
  </div>

  <!-- Option -->
  <div class="list-group-item">
    <div class="flex">
      <div class="w-1/4 text-center">
        <%= icon('fas','building', class: 'fa-lg') %>
      </div>
      <div class="text-left w-3/4">
        <span>Empresa</span>
      </div>
    </div>
  </div>
</div>
