
<%= render  'shared/card' do %>
  <div id="medical_record" class="w-full px-4">
   <nav-vue :ids="[1,2,3]">
     <template #1>
       1. Cita
     </template>
     <template #2>
       2. Información
     </template>
     <template #3>
       3. Confirmar
     </template>
     <template #content1>
       <div class="flex flex-wrap w-full mt-4">
         <div class="flex w-full justify-end mb-6">
         <%= form_for("#", html: {'v-cloak' => true},  class: "w-full") do |f| %>
           <div class="w-full focus_form">
             <%= f.label :doctor, class: 'label_input' %>
             <%=
             f.collection_select(
               :post,
               User.all,
               :id,
               :first_name,
               {include_blank: true},
               {
                 class: "block appearance-none w-full border-b text-grey-darker py-3 px-4 pr-8 focus:outline-none bg-white focus:border-grey h-8"
               }
             )
             %>
           </div>
           <% end %>
         </div>
         <div class="flex border-t w-full"></div>
         <div class="flex flex-wrap w-full mt-6">
           <% ['Lunes','Martes','Miercoles','Jueves','Viernes'].each do |d| %>
           <div class="flex flex-wrap w-1/5">
             <div class="flex flex-wrap w-full text-center items-center mb-4">
               <div class="flex w-full justify-center">
                 <p><%= d %></p>
               </div>
               <div class="flex w-full justify-center">
                 <p class="font-medium text-sm text-g-d2"><%= Date.today.strftime("%d %B") %></p>
               </div>
             </div>
             <% 11.times.each do |v| %>
             <div class="flex flex-wrap w-full mb-4 justify-center">
               <dropdown-vue btn_class="btn-flat" dropdown_style="width: 70%;">
                 <template #title>
                   <p class="text-primary">
                     <%= "0#{6 + v}:00" %>
                   </p>
                 </template>
                 <template #items>
                   <%= link_to(new_user_registration_path, class: "dropdown-item", 'data-turbolinks' => false) do %>
                     <div class="flex w-full justify-center"><%= "0#{6 + v}:00" %></div>
                   <% end %>
                   <%= link_to(new_user_registration_path, class: "dropdown-item", 'data-turbolinks' => false) do %>
                   <div class="flex w-full justify-center"><%= "0#{6 + v}:30" %></div>
                   <% end %>
                 </template>
               </dropdown-vue>
             </div>
             <% end %>
           </div>
           <% end %>
         </div>
       </div>
     </template>
     <template #content2>
      Form
     </template>
     <template #content3>
      Confirmar
     </template>
   </nav-vue>
  </div>
<% end %>
