<%= render  'shared/card',return_path: request.referrer, has_return: true do %>
  <div class="flex px-4">
    <div class="w-2/3">
    </div>
    <div class="w-1/3 text-right">
    </div>
  </div>
  <div id="medical_record" class="w-full px-4">
    <div class="my-4 flex">
      <div class="w-1/2">
        <h4 class="font-semibold text-g-d4 text-lg">
          Citas
          <br><span class="font-medium text-sm text-g-d2">Listado de citas</span>
        </h4>
      </div>
    </div>
    <div class="flex w-full justify-end">
    <%= form_for("#", html: {'v-cloak' => true},  class: "w-full") do |f| %>
      <div class="w-full focus_form">
        <%= f.label :doctor, class: 'label_input' %>
        <%=
        f.collection_select(
          :post,
          User.all,
          :id,
          :first_name,
          {include_blank: true},
          {
            class: "block appearance-none w-full border-b text-grey-darker py-3 px-4 pr-8 focus:outline-none bg-white focus:border-grey h-8"
          }
        )
        %>
      </div>
    </div>
    <div class="divider"></div>
    <div class="flex flex-wrap w-full">
      <% ['Lunes','Martes','Miercoles','Jueves','Viernes'].each do |d| %>
      <div class="flex flex-wrap w-1/5">
        <div class="flex flex-wrap w-full text-center items-center mb-4">
          <div class="flex w-full justify-center">
            <p><%= d %></p>
          </div>
          <div class="flex w-full justify-center">
            <p class="font-medium text-sm text-g-d2"><%= Date.today.strftime("%d %B") %></p>
          </div>
        </div>
        <% 11.times.each do |v| %>
        <div class="flex flex-wrap w-full mb-4 justify-center">
          <dropdown-vue btn_class="btn-flat" dropdown_style="width: 70%;">
            <template #title>
              <p class="text-primary">
                <%= "0#{6 + v}:00" %>
              </p>
            </template>
            <template #items>
              <%= link_to(new_user_registration_path, class: "dropdown-item", 'data-turbolinks' => false) do %>
                <div class="flex w-full justify-center"><%= "0#{6 + v}:00" %></div>
              <% end %>
              <%= link_to(new_user_registration_path, class: "dropdown-item", 'data-turbolinks' => false) do %>
              <div class="flex w-full justify-center"><%= "0#{6 + v}:30" %></div>
              <% end %>
            </template>
          </dropdown-vue>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
<% end %>
