 <div class="row">
    <div class="col s12">
          <h2 class="center-align"><span >Historial Clinico</span></h2>
              <div class="card">                    
                <div class="card-content">
                  <div class="card-title">
                      <span >Datos del paciente</span>
                  </div>
              <table class="stripped">
                <tbody>
                  <tr>
                    <th scope="row">Nombre</th>
                    <td><%= "#{@patient.first_name} #{@patient.last_name}" %></td>
                  </tr>
                  <tr>
                    <th scope="row">Telefono</th>
                    <td><%= @patient.phone_number %></td>
                  </tr>
                  <tr>
                    <th scope="row">Dirrecion</th>
                    <td><%= @patient.address %></td>
                  </tr>
                  <tr>
                    <th scope="row">Edad</th>
                    <td>19</td>
                  </tr>
                  <tr>
                    <th scope="row">Afiliado a</th>
                    <td><%= @patient.company %></td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>

          <div class="row" style="page-break-after: always; display: inline-block; width: 100%;">
            <div class="col s12">
            <div class="card">
              <div class="card-content">
                <div class="row">
                  <div class="section">
                    <div class="col s6">
                      <h5>Atendido por <%= "#{@appointment_report.doctor.first_name} #{@appointment_report.doctor.last_name}" %> </h5>
                    </div>

                    <div class="col s6">
                      <h5>Fecha y hora: <%= "#{@appointment_report.appointment_datetime.strftime('%d/%m/%Y - %I:%M %p')}" %></h5>
                    </div>
                  </div>
                  <div class="col s4">
                    <h5>Razon de visita: <%= @appointment_report.appointment ? "#{@appointment_report.appointment.procedure_type.procedure_type_name}"  : "No registra" %></h5>
                  </div>
                </div>

               <div class="divider"></div>

                <div class="section"  style="border-right: 0.5px solid lightgrey; border-left: 1px solid lightgrey; padding-left: 10px; padding-right: 10px; border-bottom: 0.5px solid lightgrey">
                  <h5 class="center-align" >Diagonostico</h5>
                  <div class="flex w-full border-t-4 border-primary rounded-t">        
                    <%= @appointment_report.diagnosis.html_safe %>
                    <br>
                  </div>
                </div>
                <br>

                <div class="divider"></div>

                <div class="section" style="border-right: 0.5px solid lightgrey; border-left: 1px solid lightgrey; padding-left: 10px; padding-right: 10px; border-bottom: 0.5px solid lightgrey">
                  <h5 class="center-align">Orden Medica</h5>
                  <div class="flex w-full border-t-4 border-primary rounded-t">        
                    <%= @appointment_report.medical_order.html_safe %>
                    <br>
                  </div>
                </div>
                <br>

                <div class="divider"></div>

                <div class="section" style="border-right: 0.5px solid lightgrey; border-left: 1px solid lightgrey; padding-left: 10px; padding-right: 10px; border-bottom: 0.5px solid lightgrey">
                  <h5 class="center-align">Solicitud de examen</h5>
                  <div class="flex w-full border-t-4 border-primary rounded-t">        
                    <%= @appointment_report.examination_request.html_safe %>
                    <br>
                  </div>
                </div>
                <br>

                <div class="divider"></div>

                <div class="section" style="border-right: 0.5px solid lightgrey; border-left: 1px solid lightgrey; padding-left: 10px; padding-right: 10px; border-bottom: 0.5px solid lightgrey">
                  <h5 class="center-align">Referencias</h5>
                  <div class="flex w-full border-t-4 border-primary rounded-t">        
                    <%= @appointment_report.reference.html_safe %>
                    <br>
                  </div>
                </div>
                <br>
                
                <div class="divider"></div>              
                <div class="section" style="border-right: 0.5px solid lightgrey; border-left: 1px solid lightgrey; padding-left: 10px; padding-right: 10px; border-bottom: 0.5px solid lightgrey">
                  <h5 class="center-align">Incapacidad</h5>
                  <div class="flex w-full border-t-4 border-primary rounded-t">
                    <%= @appointment_report.medical_disability.html_safe %>
                    <br>
                  </div>
                </div>

              </div>
            </div>
          </div>
          </div> 
        </div>
     </div>



