<div class="flex flex-wrap w-full mt-4">
  <div class="flex w-full justify-end mb-6">
    <div class="w-1/4 focus_form mr-1">
      <%= f.label :tipo_de_cita, class: 'label_input' %>
      <%=
      f.collection_select(
        :procedure_type_id,
        @procedure_types,
        :id,
        :procedure_type_name,
        {include_blank: false, selected: :first},
        {
          class: "block appearance-none w-full border-b text-grey-darker py-3 px-4 pr-8 focus:outline-none bg-white focus:border-grey h-8", 'v-model' => 'procedureTypeId',
        }
      )
      %>
    </div>
    <div class="w-1/4 focus_form ml-1">
      <%= f.label :doctor, class: 'label_input' %>
      <%=
      f.collection_select(
        :doctor_id,
        @doctors,
        :id,
        :first_name,
        {include_blank: false},
        {
          class: "block appearance-none w-full border-b text-grey-darker py-3 px-4 pr-8 focus:outline-none bg-white focus:border-grey h-8", 'v-model' => 'doctorId'
        }
      )
      %>
    </div>
  </div>
  <div class="flex border-t w-full"></div>
  <div class="flex flex-wrap w-full mt-6">
    <div class="flex flex-wrap w-1/5" v-for="(value, index) in weekDays">
      <div class="flex flex-wrap w-full text-center items-center mb-4">
        <div class="flex w-full justify-center">
          <p>{{ value }}</p>
        </div>
        <div class="flex w-full justify-center">
          <p class="font-medium text-sm text-g-d2">
            {{ doctor != null ? $moment(week[index]).format("DD MMM YYYY") : '' }}
          </p>
        </div>
      </div>
      <div class="flex flex-wrap w-full mb-4 justify-center" v-for="(hour, i) in hours">
        <dropdown-vue btn_class="btn-flat" dropdown_style="width: 70%;">
          <template #title>
            <p :class="workingHours[index][i].length != 0 ? 'font-black text-primary' : 'text-grey'">
              {{ hour }}
            </p>
          </template>
          <template #items>
            <div class="" v-for="(working_hour, j) in workingHours[index][i]">
              <%= link_to('#', class: "dropdown-item", 'data-turbolinks' => false, '@click' => 'showOptions(index,i,j)', "v-show" => "!schedule[index][i][j]", ':class' => "!schedule[index][i][j] ? '' : 'animated fadeOut'") do %>
                <div class="flex w-full justify-center">{{$moment(working_hour).format("hh:mm a")}}</div>
              <% end %>
              <div class="hidden md:block">
                <div class="dropdown-item items-center flex-wrap" v-show="schedule[index][i][j]" :class="schedule[index][i][j] ? 'animated fadeIn' : 'animated fadeOut'">
                  <div class="flex w-full justify-center">
                    <%= icon('fas','clock', class: 'fa-md mr-2')%>
                    Agendar
                  </div>
                  <div class="flex w-full mt-2 items-center" >
                    <%= icon('fas','times', class: "fa-md btn-flat text-black", '@click' => 'showOptions(index,i,j)')%>
                    <% unless current_user %>
                      <%= icon('fas','check', class: "fa-md btn-flat text-black", '@click' => 'showOptions(index,i,j), selectHour(), changeNav()', ":id" => "working_hour")%>
                    <% else %>
                      <button class="btn-flat" name="button" v-ripple="'rgba(0, 0, 0, 0.10)'" @click='showOptions(index,i,j), selectHour()' :id="working_hour" type="submit">
                        <%= icon('fas','check', class: "fa-md text-black")%>
                      </button>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="block md:hidden">
                <div class="dropdown-item items-center flex-wrap" v-show="schedule[index][i][j]" :class="schedule[index][i][j] ? 'animated fadeIn' : 'animated fadeOut'">
                  <div class="flex w-full md:mt-2 justify-center items-center" >
                    <% unless current_user %>
                      <%= button_tag('#',type: 'button', class: "btn btn-secondary text-black", '@click' => 'showOptions(index,i,j), selectHour(), changeNav()', ":id" => "working_hour") do %>
                        <%= icon('fas','check', class: "fa-md text-black")%>
                      <% end %>
                    <% else %>
                      <button class="btn btn-secondary" name="button" v-ripple="'rgba(0, 0, 0, 0.10)'" @click='showOptions(index,i,j), selectHour()' :id="working_hour" type="submit">
                        <%= icon('fas','check', class: "fa-md text-black")%>
                      </button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </dropdown-vue>
      </div>
    </div>
    <%= f.hidden_field :appointment_datetime, value: "appointmentHour", 'v-model' => 'appointmentHour' %>
  </div>
  <div class="flex flex-wrap w-full justify-center">
    <div class="flex flex-wrap w-1/2 justify-end">
      <button class="btn-flat" type="button" name="button" v-ripple="'rgba(0, 0, 0, 0.10)'" :class="classArrowLeft" :disabled="indexWeek == 0" @click='indexWeek -= 1'>
        <%= icon('fas','arrow-left', class: "fa-md")%>
      </button>
    </div>
    <div class="flex flex-wrap w-1/2">
      <button class="btn-flat" type="button" name="button" v-ripple="'rgba(0, 0, 0, 0.10)'" :class="classArrowRight" :disabled="disabled" @click='indexWeek += 1'>
        <%= icon('fas','arrow-right', class: "fa-md")%>
      </button>
    </div>
  </div>
</div>
