
<%= render  'shared/card' do %>
  <div  class="w-full px-4">
    <%= form_for('appointment', url: create_appointment_user_path, method: :post, html: {id: "user_no_registered",'v-cloak' => true, 'doctor_id' => @doctor_id, 'procedure_types' => @procedure_types.to_json(only: [:id, :procedure_type_name, :procedure_duration]), 'unavailable_working_hours' => @unavailable_working_hours },  class: "w-full max-w-md") do |f| %>
   <nav-vue :ids="navIds" :nav="navIds[indexNav]">
     <template #1>
       <div class="flex w-full items-center justify-center">
         <span>
           1. Cita
         </span>
         <div class="obligatory" v-if="appointmentHour == ''"></div>
       </div>
     </template>
     <template #2>
       <div class="flex w-full items-center justify-center">
         <span>
           <div class="hidden md:block">
             2. Informaci贸n
           </div>
           <div class="block md:hidden">
             2. Datos
           </div>
         </span>
         <div class="obligatory" v-if="$v.$anyError || $v.$invalid"></div>
       </div>
     </template>
     <template #3>
       <div class="flex w-full items-center justify-center">
         <span>
           3. Confirmar
         </span>
       </div>
     </template>
     <template #content1>
        <%= render 'calendar', f: f %>
     </template>
     <template #content2 v-if="renderForm">
       <div class="flex flex-wrap w-full">
       <div class="w-full px-4 shadow rounded-b py-4 border-t-4 border-primary">
         <%= render 'registration_data', f: f %>
       </div>
       </div>
     </template>
     <template #content3 v-if="renderForm">
      <div class="flex flex-wrap w-full">
        <div class="flex flex-wrap w-full md:w-1/2 border-b pb-2 mb-2 md:mb-0 md:pb-0 md:pb-0 md:border-none">
          <div class="flex w-full mb-4">
            <h4>Informaci贸n personal</h4>
          </div>
          <div class="flex w-full mb-2 text-sm">
            <span class="font-semibold">Nombre:</span> <p class="ml-2">{{firstNameValue + ' ' + lastNameValue}}</p>
          </div>
          <div class="flex w-full mb-2 text-sm">
            <span class="font-semibold">Telefono:</span> <p class="ml-2">{{phoneNumber}}</p>
          </div>
          <div class="flex w-full mb-2 text-sm">
            <span class="font-semibold">Cedula:</span> <p class="ml-2">{{idNumber + ' ' + idType}}</p>
          </div>
          <div class="flex w-full mb-2 text-sm">
            <span class="font-semibold">Correo:</span> <p class="ml-2">{{emailValue}}</p>
          </div>
        </div>
        <div class="flex flex-wrap w-full md:w-1/2">
          <div class="flex w-full mb-4">
            <h4>Informaci贸n de cita</h4>
          </div>
          <div class="flex w-full mb-2 text-sm">
            <span class="font-semibold">Tipo de cita:</span> <p class="ml-2">{{ procedureName }}</p>
          </div>
          <div class="flex w-full mb-2 text-sm">
            <span class="font-semibold">Medico: </span> <p class="ml-2">Dr. {{doctor.first_name + ' ' + doctor.last_name}}</p>
          </div>
          <div class="flex w-full mb-2 text-sm">
            <span class="font-semibold">Hora de cita:</span> <p class="ml-2">{{appointmentHour == '' ? '' :  $moment(appointmentHour).format("DD MMM YYYY hh:mm a")}}</p>
          </div>
        </div>
        <div class="divider"></div>
        <div class="flex flex-wrap md:flex-no-wrap justify-end items-center w-full">
          <div class="flex justify-start w-full mb-2">
            <div class="p-1 pl-0 pt-2 text-red-light text-xs" v-if="validSubmit">
              <i class="fas fa-exclamation-circle mr-1"></i>
              <span>
                Debe asegurarse de
                <span v-if="$v.$anyError || $v.$invalid">
                  completar los datos obligatorios de la seccion de informacion
                </span>
                <span v-if="appointmentHour == ''">
                  {{($v.$anyError || $v.$invalid) && appointmentHour == '' ? "y" : ""}} seleccionar la hora de la cita.
                </span>
              </span>
            </div>
            <div class="p-1 pl-0 pt-2 text-teal text-xs" v-else>
              <i class="fas fa-check-circle mr-1"></i>
              <span>
                Ya esta listo para registrar su cita.
              </span>
            </div>
          </div>
          <div class="flex justify-end w-2/4 mr-1">
           <%= link_to("Cancelar", request.referer, class: "btn btn-secondary no-underline", "v-ripple.350" => "'rgba(0, 0, 0, 0.35)'") %>
          </div>
          <div class="flex justify-end w-2/4 ml-1">
           <%= f.submit "Registrar", id: "submit_button", class: "btn btn-primary", ':disabled' => "validSubmit" %>
          </div>
        </div>
      </div>
     </template>
   </nav-vue>
    <div id="" v-if="!renderForm" class="alert alert-info" role="alert" v-cloak>
    <div class="flex">
   <%= icon('fa', 'info-circle', class: 'mr-3 fa-2x') %>
     <div class="text-teal-darkest w-1/2">
       <p class="font-bold">Atenci贸n.</p>
       <p class="text-sm">No existen horas disponibles que cumplan con el criterio.</p>
     </div>
   </div>
 </div>
   <% end %>
  </div>
<% end %>
