<%= render  'shared/card' do %>
  <div class="flex px-4">
    <div class="w-2/3">
    </div>
    <div class="w-1/3 text-right">
    </div>
  </div>
  <div id="schedule_appointments" class="w-full px-4" 
    data-date= "<%= params[:date] || (params[:patient_id].present? && params[:date].blank? ? "" : @date) || @date  %>" 
    data-appointments= "<%= current_user.doctor_appointments.where('appointment_datetime >= ? AND state = ?', Date.today, 1).to_json(only: :appointment_datetime) %>" 
    data-patients="<%= User.where(role: :patient, disabled: false).to_json(only: [:first_name, :last_name, :id, :role]) %>"
    data-doctors="<%= User.where(role: :doctor, disabled: false).to_json(only: [:first_name, :last_name, :id, :role]) %>"
    data-doctor="<%= params[:doctor_id] %>" 
    data-patient="<%= params[:patient_id] %>"
    data-appdate="<%= params[:appointment_datetime] %>"
    v-cloak>
    <div class="my-4 flex">
      <div class="w-1/3">
        <h4 class="font-semibold text-g-d4 text-lg">
          Agenda
          <br><span class="font-medium text-sm text-g-d2">Citas programadas</span>
        </h4>
      </div>
      <div class="w-full text-right">
        <form class="w-full  justify-end">
          <div class="flex items-center py-2 justify-end">
            <%= form_with url: scheduled_appointments_path, method: :get, class: "w-full max-w-sm"  do |f|%>
              <div class="flex items-center border-b border-b-2 border-g-l3 border-r-2 w-1/2 ">              
                <datepicker :highlighted="highlighted_dates.highlighted" input-class="w-full flex rounded-t h-8 focus:outline-none" wrapper-class="wrapper" :language="es" v-model="date" placeholder="Fecha..." :calendar-button="true" calendar-button-icon="fas fa-calendar-alt" :clear-button="true"  @input="reload"></datepicker>
              </div>
               <div class="w-full pt-4 mb-6 border-b focus_form">                
                  <multiselect v-model="patient"
                    id="no-border"
                    :options="patients" 
                    :searchable="true" 
                    :close-on-select="true"  
                    placeholder="Paciente..."  
                    track-by="id" 
                    label= "first_name" 
                    :custom-label="fullName" 
                    select-label=" " 
                    :show-no-results= "false" 
                    placeholder="Nombre..."
                    deselect-label=""
                    selected-label=""                    
                    @input = "assingPatientId(patient)"
                    >
                  </multiselect>
                <%= f.hidden_field :patient_id,  {"v-model" => "patient_id"} %>
              </div> 
               <%= button_tag(type: "submit", class: "btn btn-secondary mb-1") do %>
                    <i class="fas fa-search"></i>
               <% end %>       
              <% if params[:patient_id].present? || (params[:date].present? && Date.parse(params[:date]) != Date.today)%>
                <%= link_to scheduled_appointments_path, method: :get, class: "btn btn-secondary mb-1" do %>
                  <i class="fas fa-undo"></i>
                <% end %>
              <% end %>
            <% end %>
            </div>
          </div>
        </form>
      </div>
      <div class="flex w-full">
        <div class="flex w-3/4 pt-1">
          <h3 class="text-black-darker">
            <%= icon('fas','calendar', class: 'fa-xs mr-1 mt-1')%>
            {{ $moment("<%= @date %>").format("dddd DD MMMM") }} 
          </h3>
        </div>
        <% unless params[:patient_id] %>                  
          <div class="flex w-1/4">
            <div class="flex flex-wrap w-full justify-center">
              <div class="flex flex-wrap w-1/2 justify-end">
              <%= link_to(scheduled_appointments_path(date: @date - 1), method: :get, class: "btn-flat  text-black #{@date.beginning_of_day == DateTime.now.beginning_of_day ? 'disabled' : '' }") do %>
                <%= icon('fas', 'arrow-left', '') %>
              <% end %>
              </div>
              <div class="flex flex-wrap w-1/2">
              <%= link_to(scheduled_appointments_path(date: @date + 1), method: :get, class: "btn-flat text-black") do %>
                <%= icon('fas', 'arrow-right', '') %>
              <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="divider"></div>
    <% unless @appointments.any? %>
    <div class="alert alert-info w-full" role="alert">
      <div class="flex">
        <%= icon('fa', 'info-circle', class: 'mr-3 fa-2x') %>
        <div class="text-teal-darkest w-1/2">
          <p class="font-bold">Atención.</p>
          <p class="text-sm">No tiene citas programadas para la fecha</p>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="flex flex-wrap w-full justify-center">
      <div class="flex flex-wrap w-1/2 justify-end">
      <%= link_to(scheduled_appointments_path(date: @date - 1), method: :get, class: "btn-flat  text-black #{@date.beginning_of_day == DateTime.now.beginning_of_day ? 'disabled' : '' }") do %>
        <%= icon('fas', 'arrow-left', '') %>
      <% end %>
      </div>
      <div class="flex flex-wrap w-1/2">
      <%= link_to(scheduled_appointments_path(date: @date + 1), method: :get, class: "btn-flat text-black") do %>
        <%= icon('fas', 'arrow-right', '') %>
      <% end %>
      </div>
    </div>
    <% else %> 
    <% @appointments.each_with_index do |appointment| %>
      <%= render 'info_scheduled_appointment', appointment: appointment %>
    <div class="hidden lg:block xl:block divider"></div>
    <% end %>
  </div>
  <%== render 'pagy/nav', pagy: @pagy %>
  </div>

<% end %>
<% end %>
