<%= render  'shared/card' do %>
  <div class="flex flex-row-reverse px-4">
    <div class="w-2/3 text-right">
      <%= link_to('Crear un doctor', new_admin_user_path(role: :doctor), class: "btn btn-primary") %>
    </div>
  </div>

  <div class="my-8 flex px-4">
    <div class="w-1/2">
      <h4 class="font-semibold text-g-d4 text-lg">
        Doctores
        <br><span class="font-medium text-sm text-g-d2">Listado de doctores</span>
      </h4>
    </div>
    <div class="w-1/2 text-right">
      <form class="w-full max-w-sm justify-end">
        <div class="flex items-center py-2 justify-end">
          <%= form_with url: admin_doctors_path, method: :get, class: "w-full max-w-sm" do |f|%>
          <div class="flex items-center border-b border-b-2 border-g-l3 w-2/3">
            <%= f.text_field :query, class: 'w-full flex rounded-t h-8 focus:outline-none', value: params[:query], placeholder: "Nombre, Cedula...." %>
            <%= button_tag(type: "submit", class: "btn-flat") do %>
              <i class="fas fa-search"></i>
            <% end %>
            <% if params[:query] && params[:query] != "" %>
              <%= link_to admin_users_path, method: :get, class: "btn-flat" do %>
                <i class="fas fa-eraser"></i>
              <% end %>
            <% end %>
          <% end %>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="px-0 md:px-4 overflow-auto">
    <!-- table heading -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width=13%></th>
          <th scope="col" width=20%>Nombre</th>
          <th scope="col" width=20%>Apellido</th>
          <th scope="col" >Fecha de Nacimiento</th>
          <th scope="col">Numero telefonico</th>
        </tr>
      </thead>
      <tbody class="">
        <% @doctors.each do |user| %>
        <tr>
          <td>
            <div class="py-2 hidden md:table-cell">
              <%= link_to(edit_admin_user_path(user.id, role: user.role), class: 'btn btn-secondary no-underline rounded-full:!important') do %>
                <%= icon('fas', 'pencil-alt') %>
              <% end %>
              </div>
            <div class="flex md:hidden"><%= link_to(edit_admin_user_path(user.id, role: user.role), class: 'btn-flat text-black') do %>
            <%= icon('fas', 'pencil-alt') %>
          <% end %></div>
          </td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.birthdate %></td>
          <td><%= user.phone_number %></td>
        </tr>
       <% end %>
      </tbody>
    </table>

  </div>
  <%== render 'pagy/nav', pagy: @pagy %>
<% end %>
