<div class="form-padding">
<div class="row">
<div class="col s12" id="admin">
   <div class="card material-table card-default">
      <div class="table-header">
<p id="notice"><%= notice %></p>

<h5>Appoinments</h5>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha de Nacimiento</th>
      <th>Numero telefonico</th>
      <th>Ocupación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.birthdate %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.occupation %></td>
        <td><%= link_to 'Show', "#" %></td>
        <td><%= link_to 'Edit', "#" %></td>
        <td><%= link_to 'Destroy', "#" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
</div>

