<%= render  'shared/card' do %>
  <div class="flex px-4">
    <div class="w-2/3">
    </div>
    <div class="w-1/3 text-right">
      <%= link_to('Crear un paciente', new_admin_user_path(role: :patient), class: "btn btn-primary") %>
    </div>
  </div>

  <div class="my-8 flex px-4">
    <div class="w-1/2">
      <h4 class="font-semibold text-g-d4 text-lg">
        Pacientes
        <br><span class="font-medium text-sm text-g-d2">Listado de pacientes</span>
      </h4>
    </div>
    <div class="w-1/2 text-right">
      <form class="w-full max-w-sm">
        <div class="flex items-center border-b border-b-2 border-g-l3 py-2">
          <input class="appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Nombre del paciente">
          <button class="flex-no-shrink bg-white hover:bg-b-d border-b-d text-b-d text-sm border hover:text-white py-1 px-2 rounded" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="px-0 md:px-4 overflow-auto">
    <!-- table heading -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width=8%></th>
          <th scope="col" width=13%></th>
          <th scope="col" width=20%>Nombre</th>
          <th scope="col" width=20%>Apellido</th>
          <th scope="col" >Fecha de Nacimiento</th>
          <th scope="col">Numero telefonico</th>
          <th scope="col">Ocupación</th>
        </tr>
      </thead>
      <tbody class="">
        <% @patients.each do |user| %>
        <tr>
          <td>
            <div class="py-2">
              <%= link_to(edit_admin_user_path(user.id), class: 'btn btn-secondary no-underline') do %>
                <%= icon('fas', 'pencil-alt', '') %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="py-2">
              <%= link_to(medical_record_path(user.id), class: 'btn btn-secondary no-underline') do %>
                <%= icon('fas', 'clipboard', '') %>
              <% end %>
            </div>
          </td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.birthdate %></td>
          <td><%= user.phone_number %></td>
          <td><%= user.occupation %></td>
        </tr>
       <% end %>
      </tbody>
    </table>

  </div>
<% end %>
