<%= render  'shared/card' do %>
  <div class="flex px-4">
    <div class="w-1/3">
    </div>
    <div class="w-2/3 text-right">
      <%= link_to('Crear un paciente', new_admin_user_path(role: :patient), class: "btn btn-primary") %>
    </div>
  </div>

  <div class="my-8 flex px-4">
    <div class="w-1/2">
      <h4 class="font-semibold text-g-d4 text-lg">
        Pacientes
        <br><span class="font-medium text-sm text-g-d2">Listado de pacientes</span>
      </h4>
    </div>
    <div class="w-1/2 text-right">
      <form class="w-full max-w-sm justify-end">
        <div class="flex items-center py-2 justify-end">
          <%= form_with url: admin_patients_path, method: :get, class: "w-full max-w-sm" do |f|%>
          <div class="flex items-center border-b border-b-2 border-g-l3 w-2/3">
            <%= f.text_field :query, class: 'w-full flex rounded-t h-8 focus:outline-none', value: params[:query], placeholder: "Nombre, Cedula...." %>
            <%= button_tag(type: "submit", class: "btn-flat") do %>
              <i class="fas fa-search"></i>
            <% end %>
            <% if params[:query] && params[:query] != "" %>
              <%= link_to admin_users_path, method: :get, class: "btn-flat" do %>
                <i class="fas fa-eraser"></i>
              <% end %>
            <% end %>
          <% end %>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="px-0 md:px-4 overflow-auto">
    <!-- table heading -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="w-16"></th>
          <th scope="col" class="w-16"></th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col" class="hidden md:table-cell">N째 Telef처nico</th>
          <th scope="col">N째 identificaci처n</th>
          <th scope="col" class="hidden md:table-cell">Afiliado a</th>
        </tr>
      </thead>
      <tbody class="">
        <% @patients.each do |user| %>
        <tr>
          <td>
            <div class="py-2">
              <%= link_to(edit_admin_user_path(user.id), class: 'btn btn-secondary no-underline') do %>
                <%= icon('fas', 'pencil-alt', '') %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="py-2">
              <%= link_to(patient_medical_record_path(user.id, nil), class: 'btn btn-secondary no-underline') do %>
                <%= icon('fas', 'clipboard', '') %>
              <% end %>
            </div>
          </td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td class="hidden md:table-cell"><%= user.phone_number %></td>
          <td><%= user.id_number %></td>
          <td class="hidden md:table-cell"><%= user.company ? user.company.company_name : "-" %></td>
        </tr>
       <% end %>
      </tbody>
    </table>

  </div>
  <%== render 'pagy/nav', pagy: @pagy %>
<% end %>
