<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @user.patient? %>          
      <h1>Un saludo del equipo de gastromed <%= "#{@user.first_name} #{@user.last_name}" %></h1>
      <p>
        Le enviamos este correo para informarle que su cita programada con <%= "#{@appointment.doctor.first_name} #{@appointment.doctor.last_name}" %> programada para el <%= @appointment.appointment_datetime %> a las <%= @appointment.appointment_datetime %><br>
      </p>
      <p>
        <% if @reason %>
          Razon de cancelacion: <%= @reason %>
        <% end %>
        Puede progrmar otra cita haciendo click <%= link_to("aqui", schedule_appointment_no_user_url)  %>
      </p>
      <p>Nos disculpamos por cualquier molestia </p>
    <% else %>
      <h1>Señor(a) <%= "#{@user.first_name} #{@user.last_name}" %></h1>
      <p>
        Se le envia ese correo para informarle que la cita previamente programada para el <%= @appointment.appointment_datetime %> a las <%= @appointment.appointment_datetime %> con el paciente <%= "#{@appointment.patient.first_name} #{@appointment.patient.last_name}" %> fue cancelada a peticion del paciente <br>
      </p>
      <p>Nos disculpamos por cualquier molestia </p>
    <% end %>
  </body>
</html>
